header.header(class="#{indexHeader == true ? 'header--index header--dark':''}" class="#{error == true ? 'header--dark':''}" class="#{dark == true ? 'header--dark':''}")
	.container
		.row
			.col-sm-2.col-xs-5.col-xxs-4
				a.header__logo(href="/")
					if (logoWhite != true)
						img.header__logo-img(src="/img/logo.png", alt="")
						img.header__logo-text-img(src="/img/logo-dark-text.png", alt="")
						img.header__logo-face-img(src="/img/logo-face.png", alt="")
					else
						img.header__logo-img(src="/img/white-logo.png", alt="")
						img.header__logo-text-img(src="/img/logo-white-text.png", alt="")
						img.header__logo-face-img(src="/img/logo-face.png", alt="")
			.col-md-4.col-md-offset-1.col-sm-4.col-xs-6.xxs-text-center
				.header__address
					span.header__address-city Москва
					a.header__address-phone(href="tel:+74993901758") +7 (499) 390-17-58
				a.header__order.js-order-trigger.hidden-xs(href="javascript:void(0);") Оставить заявку
			.col-md-5.col-sm-6.col-xs-1.col-xxs-2
				button.header__menu-btn.visible-xs(type="button")
				.header__menu-search-wrap.hidden-xs
					.header__menu
						ul.header__menu-list
							each item, i in menu
								li.header__menu-list-item
									a.header__menu-list-item-link(href="#!" class="#{i == 2 ? 'current':''}") #{item}
					.header__search
						form.header__search-form(action="#!")
							button.header__search-submit(type="submit") 
							input.header__search-input(type="text" required placeholder="Поиск по сайту")
						button.header__search-trigger.js-search-trigger(type="button")
		if (indexHeader == true)
			.row
				.col-xs-12
					.index-preview
						.index-preview__number
							.index-preview__number-value 7
							.index-preview__number-text лет
						.index-preview__note
							.index-preview__note-text Мы создаем
							.index-preview__note-small.hidden-xs и делаем это хорошо
						.index-preview__title
							.index-preview__title-value.active фирменные стили
							.index-preview__title-value капоты из карбона
							.index-preview__title-value Пряники и самовары
							.index-preview__title-value хаос и сеем панику
						.index-preview__scroll
							a.index-preview__scroll-anchor.js-anchor(href="#portfolio") Свежие работы
							br
							.index-preview__scroll-img
							.index-preview__scroll-arrows
	if (indexHeader != true)
		.header__sub-menu(class="#{error == true ? 'hidden':''}")
			button.header__sub-menu-btn.js-trigger(type="button" data-target="#subMenu")
			.container
				ul.header__sub-menu-list#subMenu
					each item, k in portfolio
						li.header__sub-menu-list-item
							a.header__sub-menu-list-item-link(href="#!" class="#{ k == 0 ? 'current' : ''}" class="#{ k == 1 ? 'has-dropdown' : ''}") 
								span #{item}
							if (category == true && k == 1)
								.header__dropdown-menu
									.container
										.row
											.col-sm-2.hidden-sm.col-xs-3
												img.header__dropdown-menu-img(src="img/d-cat-1.png", alt="")
											.col-md-10.col-sm-12.col-xs-9
												ul.header__dropdown-menu-list
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Сайт-визитка
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Интернет-магазин
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Адаптивный сайт (Мобильный)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Корпоративный сайт
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Промо сайт (Landing page)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Сайт-визитка
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Интернет-магазин
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Адаптивный сайт (Мобильный)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Корпоративный сайт
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Промо сайт (Landing page)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Сайт-визитка
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Интернет-магазин
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Адаптивный сайт (Мобильный)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Корпоративный сайт
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Промо сайт (Landing page)
	if (about == true)
		.header__video
			iframe#iframe.hidden-xs(src="https://www.youtube.com/embed/LG0Cfn8qnlw?rel=0&showinfo=0&autoplay=1&loop=1&playlist=LG0Cfn8qnlw&mute=1", frameborder="0" allowfullscreen volume="0")