header.header(class="#{indexHeader == true ? 'header--index header--dark':''}" class="#{error == true ? 'header--dark':''}" class="#{dark == true ? 'header--dark':''}")
	.container
		.row
			.col-sm-2
				a.header__logo(href="/")
					if (logoWhite != true)
						img.header__logo-img(src="/img/logo.png", alt="")
						img.header__logo-text-img(src="/img/logo-dark-text.png", alt="")
						img.header__logo-face-img(src="/img/logo-face.png", alt="")
					else
						img.header__logo-img(src="/img/white-logo.png", alt="")
						img.header__logo-text-img(src="/img/logo-white-text.png", alt="")
						img.header__logo-face-img(src="/img/logo-face.png", alt="")
			.col-sm-4.col-sm-offset-1
				.header__address
					span.header__address-city Москва
					a.header__address-phone(href="tel:+74993901758") +7 (499) 390-17-58
				a.header__order.js-order-trigger(href="javascript:void(0);") Оставить заявку
			.col-sm-5
				.header__menu-search-wrap
					.header__menu
						ul.header__menu-list
							each item, i in menu
								li.header__menu-list-item
									a.header__menu-list-item-link(href="#!" class="#{i == 2 ? 'current':''}") #{item}
					.header__search
						form.header__search-form(action="#!")
							button.header__search-submit(type="submit") 
							input.header__search-input(type="text" required placeholder="Поиск по сайту")
						button.header__search-trigger.js-search-trigger(type="button")
		if (indexHeader == true)
			.row
				.col-xs-12
					.index-preview
						.index-preview__number
							.index-preview__number-value 7
							.index-preview__number-text лет
						.index-preview__note
							.index-preview__note-text Мы создаем
							.index-preview__note-small и делаем это хорошо
						.index-preview__title
							.index-preview__title-value.active фирменные стили
							.index-preview__title-value капоты из карбона
							.index-preview__title-value Пряники и самовары
							.index-preview__title-value хаос и сеем панику
						.index-preview__scroll
							a.index-preview__scroll-anchor.js-anchor(href="#portfolio") Свежие работы
							br
							img.index-preview__scroll-mouse(src="img/mouse.png", alt="")
							br
							img.index-preview__scroll-arrow(src="img/arrow.png", alt="")
	if (indexHeader != true)
		.header__sub-menu(class="#{error == true ? 'hidden':''}")
			.container
				ul.header__sub-menu-list
					each item, k in portfolio
						li.header__sub-menu-list-item
							a.header__sub-menu-list-item-link(href="#!" class="#{ k == 0 ? 'current' : ''}") 
								span #{item}
							if (category == true && k == 1)
								.header__dropdown-menu
									.container
										.row
											.col-sm-2
												img.header__dropdown-menu-img(src="img/d-cat-1.png", alt="")
											.col-sm-10
												ul.header__dropdown-menu-list
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Сайт-визитка
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Интернет-магазин
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Адаптивный сайт (Мобильный)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Корпоративный сайт
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Промо сайт (Landing page)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Сайт-визитка
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Интернет-магазин
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Адаптивный сайт (Мобильный)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Корпоративный сайт
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Промо сайт (Landing page)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Сайт-визитка
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Интернет-магазин
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Адаптивный сайт (Мобильный)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Корпоративный сайт
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Промо сайт (Landing page)
	if (about == true)
		.header__video
			iframe#iframe(src="https://www.youtube.com/embed/7FHS2NC3oOY?autoplay=1&mute=1&loop=1&rel=0", frameborder="0" allowfullscreen volume="0")