header.header(class="#{indexHeader == true ? 'header--index header--dark':''}" class="#{error == true ? 'header--dark':''}" class="#{dark == true ? 'header--dark':''}")
	.container
		.row
			.col-sm-2.col-xs-5.col-xxs-4
				// логотип
				a.header__logo(href="/")
					if (logoWhite != true)
						img.header__logo-img(src="/img/logo.png", alt="")
						img.header__logo-text-img.hidden-xs.hidden-sm(src="/img/logo-dark-text.png", alt="")
						img.header__logo-face-img.hidden-xs.hidden-sm(src="/img/logo-face.png", alt="")
					else
						img.header__logo-img(src="/img/white-logo.png", alt="")
						img.header__logo-text-img.hidden-xs.hidden-sm(src="/img/logo-white-text.png", alt="")
						img.header__logo-face-img.hidden-xs.hidden-sm(src="/img/logo-face.png", alt="")
					.header__logo-type-wrap
						.header__logo-type
							img.header__logo-type-hand--one(src="/img/logo/left-hand.png", alt="")
							img.header__logo-type-hand--two(src="/img/logo/right-hand.png", alt="")
						.header__logo-type
							img.header__logo-type-glass(src="/img/logo/glass.png", alt="")
							img.header__logo-type-palm(src="/img/logo/palm.png", alt="")
							img.header__logo-type-sun(src="/img/logo/sun.png", alt="")
						.header__logo-type
							img.header__logo-type-ball-one(src="/img/logo/ball-1.png", alt="")
							img.header__logo-type-ball-two(src="/img/logo/ball-2.png", alt="")
							img.header__logo-type-sky(src="/img/logo/sky.png", alt="")
							img.header__logo-type-lamp(src="/img/logo/lamp.png", alt="")
							img.header__logo-type-light(src="/img/logo/light.png", alt="")
						.header__logo-type
							img.header__logo-type-ball-one--type(src="/img/logo/ball-1.png", alt="")
							img.header__logo-type-ball-two--type(src="/img/logo/ball-2.png", alt="")
							img.header__logo-type-sky--type(src="/img/logo/sky.png", alt="")
							img.header__logo-type-work(src="/img/logo/work.png", alt="")
						.header__logo-type
							img.header__logo-type-glass(src="/img/logo/glass.png", alt="")
							img.header__logo-type-barber(src="/img/logo/barber.png", alt="")
							img.header__logo-type-us(src="/img/logo/us.png", alt="")
							img.header__logo-type-shake(src="/img/logo/shake.png", alt="")
							img.header__logo-type-hat(src="/img/logo/hat.png", alt="")
						.header__logo-type
							img.header__logo-type-cook-hat(src="/img/logo/cook-hat.png", alt="")
							img.header__logo-type-tarel(src="/img/logo/tarel.png", alt="")
							img.header__logo-type-cook-hand(src="/img/logo/cook-hand.png", alt="")
						.header__logo-type
							img.header__logo-type-mickro(src="/img/logo/mickro.png", alt="")
						.header__logo-type
							img.header__logo-type-apple(src="/img/logo/apple.png", alt="")
						.header__logo-type
							img.header__logo-type-smoke(src="/img/logo/smoke.png", alt="")
							img.header__logo-type-sherlock-hat(src="/img/logo/sherlock-hat.png", alt="")
							img.header__logo-type-trubka(src="/img/logo/trubka.png", alt="")
				// логотип
			.col-md-4.col-md-offset-1.col-sm-4.col-xs-6.xxs-text-center
				// адрес
				.header__address
					span.header__address-city Москва
					a.header__address-phone(href="tel:+74993901758") +7 (499) 390-17-58
				// / адрес
				a.header__order.js-order-trigger.hidden-xs(href="javascript:void(0);") Оставить заявку
			.col-md-5.col-sm-6.col-xs-1.col-xxs-2
				// меню
				button.header__menu-btn.visible-xs(type="button")
				.header__menu-search-wrap.hidden-xs
					.header__menu
						ul.header__menu-list
							each item, i in menu
								li.header__menu-list-item
									a.header__menu-list-item-link(href="#!" class="#{i == 2 ? 'current':''}") #{item}
					.header__search
						form.header__search-form(action="#!")
							button.header__search-submit(type="submit") 
							input.header__search-input(type="text" required placeholder="Поиск по сайту")
						button.header__search-trigger.js-search-trigger(type="button")
				// / меню
		if (indexHeader == true)
			.row
				.col-xs-12
					.index-preview
						.index-preview__number
							.index-preview__number-value 7
							.index-preview__number-text лет
						.index-preview__note
							.index-preview__note-text Мы создаем
							.index-preview__note-small.hidden-xs и делаем это хорошо
						.index-preview__title
							.index-preview__title-value фирменные стили
							.index-preview__title-value капоты из карбона
							.index-preview__title-value Пряники и самовары
							.index-preview__title-value хаос и сеем панику
						.index-preview__scroll
							a.index-preview__scroll-anchor.js-anchor(href="#portfolio") Свежие работы
							br
							.index-preview__scroll-img
							.index-preview__scroll-arrows
	if (indexHeader != true)
		// дропменюу
		.header__sub-menu(class="#{error == true ? 'hidden':''}")
			button.header__sub-menu-btn.js-trigger(type="button" data-target="#subMenu")
			.container
				ul.header__sub-menu-list#subMenu
					each item, k in portfolio
						li.header__sub-menu-list-item
							a.header__sub-menu-list-item-link(href="#!" class="#{ k == 0 ? 'current' : ''}" class="#{ k == 1 ? 'has-dropdown' : ''}") 
								span #{item}
							if (category == true && k == 1)
								.header__dropdown-menu
									.container
										.row
											.col-sm-2.hidden-sm.col-xs-3
												img.header__dropdown-menu-img(src="img/d-cat-1.png", alt="")
											.col-md-10.col-sm-12.col-xs-9
												ul.header__dropdown-menu-list
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Сайт-визитка
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Интернет-магазин
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Адаптивный сайт (Мобильный)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Корпоративный сайт
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Промо сайт (Landing page)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Сайт-визитка
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Интернет-магазин
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Адаптивный сайт (Мобильный)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Корпоративный сайт
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Промо сайт (Landing page)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Сайт-визитка
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Интернет-магазин
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Адаптивный сайт (Мобильный)
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Корпоративный сайт
													li.header__dropdown-menu-list-item
														a.header__dropdown-menu-list-item-link(href="#!") Промо сайт (Landing page)
		// / дроп меню
	if (about == true)
		// видео
		.header__video
			iframe#iframe.hidden-xs(src="https://www.youtube.com/embed/LG0Cfn8qnlw?rel=0&showinfo=0&autoplay=1&loop=1&playlist=LG0Cfn8qnlw&mute=1", frameborder="0" allowfullscreen volume="0")
		// / видео